<div class="row-fluid">
	<div class="col-md-9">
		<table class="table">
			<tr>
				<th>Title</th>
				<td>{{ profile.title }}</td>
			</tr>
			<tr>
				<th>Image</th>
				<td>
					<img data-ng-src="{{ profile.image_thumb_url }}"/>
				</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ profile.name }}</td>
			</tr>
			<tr>
				<th>Profession</th>
				<td>{{ profile.profession }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ profile.description }}</td>
			</tr>
			<tr>
				<th>Skills</th>
				<td>
					<span data-ng-repeat="skill in profile.skills">{{ skill.name }} - {{ skill.percent }}% &nbsp;&nbsp;</span>
				</td>
			</tr>
			<tr>
				<th>Social</th>
				<td>
					<span data-ng-repeat="(key, value) in profile.social">{{ key }}: {{ value }}<br/></span>
				</td>
			</tr>
		</table>
	</div>
	<div class="col-md-3">
		<%= link_to t('general.edit'), '#!/odania_profile/profile/edit', {class: 'btn btn-primary'} %>
	</div>
</div>
