<div class="form-group">
	<label class="col-sm-2 control-label">Facebook</label>

	<div class="col-sm-10">
		<input type="text" class="form-control" data-ng-model="profile.social.facebook" placeholder="https://www.facebook.com/pages/Odania-IT/113349882108655"/>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">Twitter</label>

	<div class="col-sm-10">
		<input type="text" class="form-control" data-ng-model="profile.social.twitter" placeholder="https://twitter.com/OdaniaIT"/>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">Google+</label>

	<div class="col-sm-10">
		<input type="text" class="form-control" data-ng-model="profile.social.google_plus" placeholder="https://plus.google.com/110850943371659722554/posts"/>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">LinkedIn</label>

	<div class="col-sm-10">
		<input type="text" class="form-control" data-ng-model="profile.social.linked_in" placeholder="http://de.linkedin.com/in/mikepetersen79"/>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">RSS</label>

	<div class="col-sm-10">
		<input type="text" class="form-control" data-ng-model="profile.social.rss" placeholder="http://de.onlinegames-info.com/games.xml"/>
	</div>
</div>
