<div class="form-group">
	<label class="col-sm-2 control-label">Description</label>

	<div class="col-sm-10">
		<div data-text-angular data-ng-model="profile.description" data-placeholder="Your description"></div>
	</div>
</div>
